<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{DEFAULT} [%t] %level %c{1} - %msg%n" />
        </Console>

        <RollingFile name="App" filePattern="log/%d{yyyy-MM-dd}/app-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="%d{DEFAULT} [%t] %level %c{1} - %msg%n" />
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>

        <RollingFile name="PNL" filePattern="log/%d{yyyy-MM-dd}/pnl-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="%d{DEFAULT} [%9t] %msg%n" />
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>

        <RollingFile name="PNLCSV" filePattern="log/%d{yyyy-MM-dd}/pnl-%d{yyyy-MM-dd}.csv">
            <PatternLayout pattern="%d{DEFAULT} %msg%n" />
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console" />
            <AppenderRef ref="App" />
        </Root>

        <Logger name="PNL" level="INFO">
            <AppenderRef ref="Console" />
            <AppenderRef ref="App" />
            <AppenderRef ref="PNL" />
        </Logger>

        <Logger name="PNLCSV" level="INFO">
            <AppenderRef ref="PNLCSV" />
        </Logger>
    </Loggers>
</Configuration>