<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ISO8601} [%t] %level %logger - %msg%n" />
        </Console>

        <RollingFile name="File" filePattern="log/%d{yyyy-MM-dd}/app-%d{yyyy-MM-dd-HH}-%i.log">
            <PatternLayout pattern="%d{ISO8601} [%t] %level %logger - %msg%n" />
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy fileIndex="nomax" />
        </RollingFile>

        <RollingFile name="AppFile" filePattern="log/app/app-%d{yyyy-MM-dd-HH}-%i.log">
            <PatternLayout pattern="%d{ISO8601} [%t] %level %logger - %msg%n" />
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy fileIndex="nomax" />
        </RollingFile>


        <RollingFile name="PNL" filePattern="log/app/pnl-%d{yyyy-MM-dd-HH}-%i.log">
            <PatternLayout pattern="%d{ISO8601} [%t] %level %logger - %msg%n" />
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy fileIndex="nomax" />
        </RollingFile>

    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console" />
            <AppenderRef ref="File" />
            <AppenderRef ref="AppFile" />
        </Root>
        <Logger name="PNL" level="INFO">
            <AppenderRef ref="PNL" />
        </Logger>
    </Loggers>
</Configuration>